<div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="text-muted" href="#">Subscribe</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/">Calculator</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="text-muted" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="/emi-calculator">EMI calculator</a>
        <a class="p-2 text-muted" href="/cgpa-calculator">CGPA Calculator</a>
        <a class="p-2 text-muted" href="/sip-calculator">SIP Calculator</a>
        <a class="p-2 text-muted" href="/gst-calculator">GST Calculator</a>
        <a class="p-2 text-muted" href="/ctc-calculator">CTC Calculator</a>
        <a class="p-2 text-muted" href="#">JSON Formater</a>
        <a class="p-2 text-muted" href="#">Password Generator</a>
        <a class="p-2 text-muted" href="/age-calculator">Age Calculator</a>
        <a class="p-2 text-muted" href="/percentage-calculator">Percentage Calculator</a>
      </nav>
    </div>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Calculator</h1>
        <p class="lead my-3">Calculator focus is to provide fast, comprehensive, convenient, free online calculators in a plethora of areas. Currently, we have around 200 calculators to help you "do the math" quickly in areas such as finance, fitness, health, math, and others, and we are still developing more. Our goal is to become the one-stop, go-to site for people who need to make quick calculations. Additionally, we believe the internet should be a source of free information. Therefore, all of our tools and services are completely free, with no registration required.
      </p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>

    
  </div>