<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="calculator emi,cgpa calculator">
    <meta name="author" content="naveen">
    <meta name="google-adsense-account" content="ca-pub-0000000000000000">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Calculator App - emi,cgp</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5917410513983719"
    crossorigin="anonymous"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>