<main role="main" class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="p-3">
            <h4 class="font-italic"></h4>
            <ol class="list-unstyled mb-0">
              <li><a href="/emi-calculator">EMI Calculator</a></li>              
              <li><a href="/gst-calculator">GST Calculator</a></li>
              <li><a href="/percentage-calculator">Percentage Calculator</a></li>
             
            </ol>
          </div>

    </div>
    <div class="col-md-4">
        <div class="p-3">
            <h4 class="font-italic"></h4>
            <ol class="list-unstyled mb-0">
              <li><a href="/sip-calculator">SIP Calculator</a></li>
              <li><a href="/ctc-calculator">CTC Calculator</a></li>
             
            </ol>
          </div>
    </div>
    <div class="col-md-4">
    <div class="p-3">
        <h4 class="font-italic"></h4>
        <ol class="list-unstyled mb-0">
          <li><a href="/cgpa-calculator">CGPA Calculator</a></li>
          <li><a href="/age-calculator">Age Calculator</a></li>
          
        </ol>
      </div>
    </div>
   

  </div><!-- /.row -->

</main><!-- /.container -->
